<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
	{{> header}}
	<!-- <p>{{message}}</p> -->
	<p>{{screamIt message}}</p>

	{{> footer}}
</body>
</html>